@{
    Layout = "_LayoutPage";
    ViewBag.Title = "Home";
}

<!--==============Places===================-->
<section class="places">

    <div class="cards" style="padding: 10px">
        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/images/productimages/product01.png" />
                </div>
            </div>

            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Product</h2>
                <p class="cost">$ 1000</p>
                <a href="#">
                    <div class="card-box">
                        <p class="location"><i class="fa fa-shopping-cart"></i> Buy now</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/images/productimages/product02.png" />
                </div>
            </div>

            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Product</h2>
                <p class="cost">$ 1000</p>
                <a href="#">
                    <div class="card-box">
                        <p class="location"><i class="fa fa-shopping-cart"></i> Buy now</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="zoom-img">
                <div class="img-card">
                    <img src="~/images/productimages/product03.png" />
                </div>
            </div>

            <div class="text">
                <span class="rating">⭐⭐⭐⭐⭐</span>
                <h2>Product</h2>
                <p class="cost">$ 1000</p>
                <a href="#">
                    <div class="card-box">
                        <p class="location"><i class="fa fa-shopping-cart"></i> Buy now</p>
                    </div>
                </a>
                
            </div>
        </div>

        
    </div>
</section>
