.login-left {
    background: #ffffff;
    padding: 40px;
}

.login-right {
    background-image: url('../images/LoginBgNew.jpg');
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .login-right {
        height: 300px;
    }
}


.login-actions {
    margin-top: 10px;
}

    .login-actions .btn {
        margin-top: 10px;
    }

.divider {
    text-align: center;
    margin: 15px 0;
    color: #888;
    font-size: 12px;
    position: relative;
}

    .divider::before,
    .divider::after {
        content: "";
        height: 1px;
        width: 40%;
        background: #ddd;
        position: absolute;
        top: 50%;
    }

    .divider::before {
        left: 0;
    }

    .divider::after {
        right: 0;
    }