<?xml version="1.0" encoding="utf-8"?>

	  <!-- To customize the asp.net core module uncomment and edit the following section. 
	  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  
	  <!--<system.webServer>
		<handlers>
		  <remove name="aspNetCore"/>
		  <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	  </system.webServer>-->
  
		<siteMap>

			<!--Home Menu-->
			<siteMapNodeParent SystemName="Home" Controller="Home" Action="Index" Area="" IsHeader ="true" PermissionNames="" IconClass="fa fa-dashboard" />
			<!--Home Menu-->

		<!--</siteMap>
		<siteMap>-->
			
			<!--Master Menu-->
			<siteMapNodeParent SystemName="Application Masters" IsHeader ="true" PermissionNames="SystemAdmin" IconClass="fa fa-file-text-o">
				<siteMapNodeChild SystemName="Users" Controller="UserMasterMVC" Action="Index" Area="" PermissionNames="SystemAdmin" IconClass="fa fa-circle-thin" />
			</siteMapNodeParent>
			<!--Master Menu-->

		<!--</siteMap>
		<siteMap>-->
			
			<!--Admin Menu-->
			<siteMapNodeParent SystemName="Administration" IsHeader ="true" PermissionNames="Admin,FileProcessing,SystemAdmin" IconClass="fa fa-cog">
				<siteMapNodeChild SystemName="Application Logs" Controller="AppLog" Action="Index" Area="Foundation" PermissionNames="Admin,SystemAdmin" IconClass="fa fa-list-alt" />
				<siteMapNodeChild SystemName="Application Constants" Controller="AppConstants" Action="Index" Area="Foundation" PermissionNames="Admin,FileProcessing" IconClass="fa fa-bars" />
			</siteMapNodeParent>
				<!--<siteMapNode SystemName="File" PermissionNames="FileProcessing" IconClass="fa fa-files-o">
					<siteMapNode SystemName="Upload" Controller="FileUpload" Action="Index" Area="Foundation" PermissionNames="FileProcessing" IconClass="fa fa-circle-thin"/>
					<siteMapNode SystemName="Download" Controller="FileDownload" Action="Index" Area="Foundation" PermissionNames="FileProcessing" IconClass="fa fa-circle-thin" ></siteMapNode>
				</siteMapNode>-->
			<siteMapNodeParent SystemName="Email Settings" PermissionNames="Admin,SystemAdmin" IconClass="fa fa-envelope">
				<siteMapNodeChild SystemName="Email Templates" Controller="MailTemplate" Action="Index" Area="Foundation" PermissionNames="Admin,SystemAdmin" IconClass="fa fa-circle"/>
				<siteMapNodeChild SystemName="Email Accounts" Controller="MailAccount" Action="Index" Area="Foundation" PermissionNames="Admin,SystemAdmin" IconClass="fa fa-circle"/>
				</siteMapNodeParent>
			<siteMapNodeParent SystemName="UDC Master" Controller="UDCMaster" Action="Index" Area="Foundation" PermissionNames="Admin,SystemAdmin" IconClass="fa fa-wrench" />
			<siteMapNodeParent SystemName="Task Scheduler" Controller="AppTaskScheduler" Action="Index" Area="Foundation" PermissionNames="Admin" IconClass="fa fa-refresh" />
			<!--Admin Menu-->
		</siteMap>

